.ListContent {
  width: 100%;
  heigth: 100%;
  border-radius: 10px;
}
.shadowList {
  --tw-shadow: 0px 0px 6px #11111126;
  --tw-shadow-colored: 0px 0px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.contentContainer {
  position: static;
  width: 100%;
  height: 100%;
}
.images {
  inset: 0px;
  object-fit: cover;
  min-height: 100%;
  height: 200px;
  max-height: 200px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.textContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.text-style {
  font-size: 18px;
  font-weight: medium;
  line-height: 20px;
  color: #53a7ce;
  margin-bottom: 4px;
}

.text-style-second {
  margin-bottom: 4px;
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  font-weight: bold;
  line-height: 30px;
  height: 59px;
  overflow: hidden;
}

.pageBtn {
  width: 49px;
  height: 49px;
  margin: 0 10px;
  border: none;
  font-size: 20px;
  opacity: 0.6;
}

.ListPagenationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 37px;
}

/* 추가된 부분: 마우스 오버 시 위로 올라가는 애니메이션 */
.pageBtn.hoverAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
}

/* 추가된 부분: 마우스 떠날 때 아래로 내려가는 애니메이션 */
.pageBtn.leaveAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.pageBtn.hoverAnimation:hover {
  transform: translateY(-5px);
}

.pageBtn.leaveAnimation:hover {
  transform: translateY(0);
}

.ListContent.hoverAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-10px);
}

/* 추가된 부분: 마우스 떠날 때 아래로 내려가는 애니메이션 */
.ListContent.leaveAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.ListContent.hoverAnimation:hover {
  transform: translateY(-10px);
}

.ListContent.leaveAnimation:hover {
  transform: translateY(0);
}

.modal-contentContainer {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
}

.acceptPage-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}

.acceptPage-cols {
  grid-column: span 2 / span 2;
  border-width: 2px;
  border-style: solid;
}

.renderData {
  flex-wrap: wrap;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
  width: 320px;
}

.registerButton {
  position: absolute;
  color: #fbd38d;
  riget: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.swiper-container {
  height: 540px;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 4px;
}

.up-button {
  position: fixed;
  padding: 0.5rem;
  transition-property: transform;
  transform: none;
  background-color: #a3bffa;
  border-radius: 9999px;
  cursor: pointer;
  bottom: 1rem;
  transform: scale(1.1);
}

.searchBar {
  position: relative;
  left: 45rem;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
  width: 33.75rem;
  margin-top: 2rem;
}

.searchBtn {
  position: relative;
  width: 20%;
}

.modalContent {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.75rem;
  height: 43.75rem;
  width: 87.5rem;
  position: relative;
}

.modal_sz {
  display: flex;
  flex-direction: row;
  height: 21.25rem;
  margin-top: 2rem;
}

.modal_cn {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.modal_cz {
  flex-grow: 1;
  padding: 0.25rem;
  border-widtdh: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}

.modal_sz2 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.modalAction {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.acceptBtn {
  width: 6rem;
  text-transform: none;
  backgroud-color: #3490dc;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;
}

.closeBtn {
  width: 6rem;
  text-transform: none;
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;
}

.tour_sz {
  margin-left: 13.75rem;
  margin-right: 13.75rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sTitle {
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
  font-weight: bold;
  text-decoration: underline;
}

.modal_cc {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.75rem;
  min-height: 18.75rem;
  height: auto;
  width: 43.75rem;
  position: relative;
}
