.ListContent {
  width: 100%;
  heigth: 100%;
  border-radius: 10px;
}
.shadowList {
  --tw-shadow: 0px 0px 6px #11111126;
  --tw-shadow-colored: 0px 0px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.contentContainer {
  position: static;
  width: 100%;
  height: 100%;
}
.images {
  inset: 0px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.textContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.text-style {
  font-size: 18px;
  font-weight: medium;
  line-height: 20px;
  color: #53a7ce;
  margin-bottom: 4px;
}

.text-style-second {
  margin-bottom: 4px;
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  font-weight: bold;
  line-height: 30px;
  height: 59px;
  overflow: hidden;
}
