.ListContent {
  width: 100%;
  heigth: 100%;
  border-radius: 10px;
}
.shadowList {
  --tw-shadow: 0px 0px 6px #11111126;
  --tw-shadow-colored: 0px 0px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.contentContainer {
  position: static;
  width: 100%;
  height: 100%;
}
.images {
  inset: 0px;
  object-fit: cover;
  max-width: 100%;
  max-height: 195px;
  min-width: 100%;
  min-height: 100%;
}
.textContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.text-style {
  font-size: 18px;
  font-weight: medium;
  line-height: 20px;
  color: #53a7ce;
  margin-bottom: 4px;
}

.text-style-second {
  margin-bottom: 4px;
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  font-weight: bold;
  line-height: 30px;
  height: 59px;
  overflow: hidden;
}

.pageBtn {
  width: 49px;
  height: 49px;
  margin: 0 10px;
  border: none;
  font-size: 20px;
  opacity: 0.6;
}

.ListPagenationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 37px;
  margin: 38px 94px 38px 88px;
}

/* 추가된 부분: 마우스 오버 시 위로 올라가는 애니메이션 */
.pageBtn.hoverAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
}

/* 추가된 부분: 마우스 떠날 때 아래로 내려가는 애니메이션 */
.pageBtn.leaveAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.pageBtn.hoverAnimation:hover {
  transform: translateY(-5px);
}

.pageBtn.leaveAnimation:hover {
  transform: translateY(0);
}

.ListContent.hoverAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-10px);
}

/* 추가된 부분: 마우스 떠날 때 아래로 내려가는 애니메이션 */
.ListContent.leaveAnimation {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.ListContent.hoverAnimation:hover {
  transform: translateY(-10px);
}

.ListContent.leaveAnimation:hover {
  transform: translateY(0);
}