.plan-div {
  width: 600px;
  height: 110px;
  background-color: #8ecae6;
  display: flex;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin: 10px;
  margin-left: 5px;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease-out;
}

.plan-div:hover {
  background-color: #023047;
  transform: translateX(15px);
}

.plan-text {
  transition: color 0.3s ease;
}

.plan-div:hover .plan-text {
  color: #ffffff;
}

.plan-image-contaier {
  width: 110px;
  height: 110px;
  /* background-color: #ffffff; */
  border-radius: 15px 0 0 15px;
}

.plan-text-container {
  width: 480px;
  height: 110px;
  display: flex;
  flex-direction: column;
  /* background-color: #1f1acd; */
}

.plan-title-container {
  /* background-color: #ffffff; */
  width: 100%;
  height: 40px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plan-content-container {
  /* background-color: #444444; */
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.plan-title-span {
  /* background-color: #eeeeee; */
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.plan-content-span {
  /* background-color: #eeeeee; */
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.plan-image {
  width: 90px;
  height: 90px;
  margin: 10px;
  float: left;
  border-radius: 50%;
  border: 4px solid #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
