/* SignIn.css */

.auth-container {
  max-width: 400px;
  height: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2 {
  text-align: center;
  color: #333;
  //
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.auth-container label {
  font-weight: bold;
  margin-bottom: 8px;
}

.auth-container input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-container button {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-container button:hover {
  background-color: #0056b3;
}
