.plan-div {
  width: 600px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  border: 5px solid #eca1a1;
  margin: 10px;
}

.plan-image {
  width: 100px;
  height: 100px;
  background-color: #eedede;
  float: left;
}

.div-gap {
  width: 5px;
  height: 100px;
  background-color: #ffffff;
  float: left;
  opacity: 0;
}
