.list-search-keyword-header {
  margin-bottom: 20px;
  font-size: 33px;  
  text-align: center;
  align-items: center;
}

.list-page-search-keyword-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  place-content: center;
  max-height: 950px;
}

.list-search-keyword, .list-search-combo {
  color: red;
  font-weight: 700;
  font-family: 'GmarketSans700';
}

.list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.list-image-grid {
  grid-gap: 10px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  max-height: 950px; 
  overflow-y: auto; 
  padding: 1%;
  -ms-overflow-style: none; /* 인터넷 익스플로러에서 스크롤바 안보이게 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 안보이게 */
  /* justify-items: center;  */
}

.list-image-grid::-webkit-scrollbar {
  display: none !important; /* 크롬, 사파리 등에서 스크롤바 안보이게 */
} 

.list-image-item {
  display: flex;
  place-content: center;
  border: 2px solid #ccc;
  padding: 2%;
  margin: 0;
  text-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.list-image-item img {
  max-width: 80%;
  height: 250%;
  width: 250%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.list-user-nickname {
  font-family: 'GmarketSans500';
  font-size: 36px;
}

.list-user-nickname:hover {
  color: red;
}

.list-user-email {
  font-family: 'GmarketSans300';
  font-size: 22px;
}

.list-pagination-controls button {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  padding: 10px 15px;
  font-size: 44px;
  background-color: #f5f5f5;
  border: 2px solid #ddd; 
  border-radius: 5px;
}

.list-pagination-controls button:hover {
  background-color: #dadada; 
}

.list-pagination-controls button:disabled {
  color: #aaa; 
  background-color: #f5f5f5; 
}

.list-page-number {
  width: 80px;
  height: 80px;
  margin: 0px 2.5vw;
  font-size: 28px;
  cursor: pointer;
}

.list-page-number:hover {
  color: #ddd;
  transition: 0.15s;
  transform: scale(2);
}

.list-current-page {
  font-weight: bold;
  text-decoration: solid underline black 4px;
}