.list-search-keyword-header {
  margin-bottom: 20px;
  font-size: 33px;  
  text-align: center;
  align-items: center;
}

.list-page-search-keyword-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  place-content: center;
  max-height: 950px;
}

.list-search-keyword, .list-search-combo {
  color: red;
  font-weight: 700;
  font-family: 'GmarketSans700';
}

.list-page {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  min-height: 80vh;
  height: 1200px;
}

.list-image-grid {
  grid-gap: 10px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  max-height: 950px; 
  overflow-y: auto; 
  padding: 1%;
  -ms-overflow-style: none; /* 인터넷 익스플로러에서 스크롤바 안보이게 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 안보이게 */
  /* justify-items: center;  */
}

.list-image-grid::-webkit-scrollbar {
  display: none !important; /* 크롬, 사파리 등에서 스크롤바 안보이게 */
} 

.list-image-item,
.list-image-item-square {
  display: flex;
  place-content: center;
  border: 2px solid #ccc;
  padding: 2%;
  margin: 0;
  text-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.list-image-item img {
  max-width: 80%;
  height: 320px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.list-image-item-square img {
  max-width: 100%;
  height: 320px;
  width: 400px;
  margin-bottom: 10px;
}

.list-normal-item{
  display: flex;
  place-content: center;
  border: 2px solid #ccc;
  padding: 2%;
  margin: 0;
  text-align: center;
  align-items: center;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.list-user-nickname {
  font-family: 'GmarketSans500';
  font-size: 36px;
}

.list-user-nickname:hover {
  color: red;
}

.list-schedule-p {
  height: 400px;
  width: 400px;
}

.list-user-email, .list-total-day {
  font-family: 'GmarketSans300';
  font-size: 22px;
}

.list-pagination-controls button {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  padding: 10px 15px;
  font-size: 44px;
  background-color: #f5f5f5;
  border: 2px solid #ddd; 
  border-radius: 5px;
}

.list-pagination-controls button:hover {
  background-color: #dadada; 
}

.list-pagination-controls button:disabled {
  color: #aaa; 
  background-color: #f5f5f5; 
}

.list-page-number {
  width: 80px;
  height: 80px;
  margin: 0px 2.5vw;
  font-size: 28px;
  cursor: pointer;
}

.list-page-number:hover {
  color: #ddd;
  transition: 0.15s;
  transform: scale(1.2);
}

.list-current-page {
  font-weight: bold;
  text-decoration: solid underline black 4px;
}

/*  */

.list-tips-cards {
  width: 87%;
  height: 100%;
  display: grid;
  gap: 40px; 
  margin-top: 20px;
}

.list-tips-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.list-tips-card:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

.list-tips-card-title,
.list-tips-card-content {
  font-family: 'GmarketSans300';
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.list-tips-card-title {
  font-size: 50px; 
}

.list-tips-card-content {
  font-size: 30px; 
}

.list-tips-card-hover-content {
  display: none; 
  text-align: left;
  padding: 20px;
}

.list-tips-card:hover .list-tips-card-title,
.list-tips-card:hover .list-tips-card-content {
  display: none;
}

.list-tips-card:hover .list-tips-card-hover-content {
  display: block;
}