/* 사용법 font-family: "GmarketSans500"; */

@font-face {
  font-family: "GmarketSans300";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans500";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans700";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
      format("truetype");
  font-display: swap;
}

body {
  color: #333;
  background-color: white;
}

input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  color: black;
  font-size: 16px;
}

/* Margin Image Styles */
.main-margin-image {
  width: 100px;
  height: auto;
  margin-left: -100px;
  margin-right: 100px;
}

/* Main Container Styles */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

/* Section Styles */
.main-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section-span-title {
  font-size: 50px;
  font-weight: 700;
  font-family: "GmarketSans500";
  margin-bottom: 20px;
  margin-left: 42%;
}

/* 여행 계획 main container */
.main-trip-plan-container {
  display: flex;
  justify-content: center;
}

.main-trip-plan-input-container {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  width: 1100px;
}

/* 여행 계획 Section Styles */
.main-trip-plan-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-trip-plan-section-span-title {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 37px;
  font-weight: 700;
  color: white;
  font-family: "GmarketSans500";
  margin-bottom: 20px;
}

.main-trip-plan-section-div-title {
  margin-top: 150px;
  text-align: center;
}

/* 수정 여행 계획 서치바 준기  css */
.main-trip-plan-input {
  /* margin-left: 22%; */
  background-color: #ddd;
  border: 3px solid black;
  border-radius: 8px;
  font-family: "GmarketSans500";
  width: 900px;
  height: 50px;
  color: white;
}

.main-trip-plan-button {
  /* margin-left: 4%; */
  background-color: black;
  border: 3px solid black;
  border-radius: 8px;
  font-family: "GmarketSans500";
  height: 50px;
  width: 130px;
  color: #ddd;
}

.main-trip-plan-button:hover {
  background-color: #ddd;
  color: black;
}

.main-section-div {
  height: 1250px;
  margin-bottom: 20px;
  background-color: white;
  border: 3px solid #abcdef;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  width: 70%;
}

.main-section-div-community {
  height: 1250px;
  margin-bottom: 20px;
  background-color: white;
  border: 3px solid #abcdef;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  width: 70%;
  overflow-y: auto;
}

.main-section-div-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../../public/dummyimages/seoul.jpg");
  background-size: cover;
  background-position: center center;
  align-items: center;
  height: 500px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

/* Top Button Styles */
.top-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 75px;
  height: 75px;
  background-color: gray;
  color: blue;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.5s;
  border: none;
  outline: none;
}

.top-button:before {
  /* content: ""; */
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid transparent;
  border-width: 0 10px 15px 10px;
  border-bottom-color: white;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.top-button:hover {
  background-color: black;
}

.top-button:hover:before {
  opacity: 1;
}

.main-tour-info-section {
  grid-gap: 70px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3%;
  margin: 3%;
  margin-top: -1%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
}

.main-tour-info-text {
  font-family: "GmarketSans500";
  font-size: 20px;
}

.main-info-pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-info-pagination-controls button {
  bottom: 90px;
  width: 70px;
  height: 70px;
  margin: 0 5px;
  font-size: 14px;
  background-color: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.main-info-pagination-controls button:hover {
  background-color: #e0e0e0;
}

.main-info-pagination-controls button:disabled {
  color: #aaa;
  background-color: #f5f5f5;
}

.main-info-pagination-controls-key {
  font-size: 0px;
  font-weight: bold;
  margin: 0 10px;
  color: #333;
}

.main-info-pagination-controls,
.current-page {
  font-weight: bold;
  text-decoration: solid black 4px;
}

.main-tour-info-image {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
  justify-items: center;
}

.main-combo-day-dropdown {
  padding: 0px 15px;
  width: 70px;
  height: 50px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: black;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
}

.list-card {
  border: 0.5px solid #dddddd;
  padding: 16px;
  margin: 20px 80px 50px 80px;
  transition: transform 0.3s ease-in-out;
}

.list-card:hover {
  transform: scale(1.025);
}

.profile-image {
  margin: 20px 10px 20px 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.profile-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
}
.profile-details {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.middle-navigate {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 70px 0px 100px 0px;
}

.place-navigate {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 314px;
  height: 260px;
  background-image: url("https://static.wixstatic.com/media/5bfb6f_9f2519d5fc2d41f990a10dd92eb8658d.jpg/v1/fill/w_314,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5bfb6f_9f2519d5fc2d41f990a10dd92eb8658d.jpg");
}

.place-navigate span {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  background-color: white;
  color: #0080ff;
}

.place-navigate span:hover {
  background-color: #0080ff;
  color: white;
}

.restaurant-navigate {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 314px;
  height: 260px;
  background-image: url("https://static.wixstatic.com/media/5bfb6f_ea37f67cad544b348df9f3d0ff40f282.jpg/v1/fill/w_314,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5bfb6f_ea37f67cad544b348df9f3d0ff40f282.jpg");
  margin: 0 20px 0 20px;
}

.restaurant-navigate span {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  font-size: 24px;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: white;
  color: #0080ff;
}

.restaurant-navigate span:hover {
  background-color: #0080ff;
  color: white;
}

.community-navigate {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 314px;
  height: 260px;
  background-image: url("https://static.wixstatic.com/media/5bfb6f_c667d0c9bd634b1aa2b29311795f3c51.jpg/v1/fill/w_315,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5bfb6f_c667d0c9bd634b1aa2b29311795f3c51.jpg");
}

.community-navigate span {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  font-size: 24px;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: white;
  color: #0080ff;
}
.community-navigate span:hover {
  background-color: #0080ff;
  color: white;
}
