.user-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.user-profile-search-keyword-header {
  margin-bottom: 20px;
  font-size: 33px;  
  text-align: center;
  align-items: center;
}

.user-profile-search-keyword {
  color: red;
  font-weight: 700;
  font-family: 'GmarketSans700';
}

.user-profile-container {
  display: grid;
  grid-gap: 100px;
  max-width: 100%; 
  margin: auto;
  padding: 0 0 20px 10px;
}

.user-profile-picture {
  width: 300px; 
  height: 300px;
  border-radius: 50%;
}

.user-profile-header {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  align-items: center;
  margin-top: -70px;
  margin-bottom: 50px;
  gap: 10px;
  position: relative; 
}

.user-profile-left-section {
  display: flex;
}

.user-profile-right-section {
  height: 100%;
  weight: 100px;
  display: grid;
  align-items: center;
}

.user-profile-nickname, .user-profile-email, .user-profile-self-introduction, .user-profile-stats, .user-profile-action-button {
  text-align: center;
}

.user-profile-nickname {
  /* margin-top: 5px; */
  font-size: 30px;
}

.user-profile-email {
  margin-bottom: 5px;
}

.user-profile-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transform: scale(1);
  margin: auto; 
  max-width: 480px;
  height: 100%;
  padding: 0.01%;
  border: 2px solid black;
  box-sizing: border-box;
}

.user-profile-stats > div {
  align-items: center;
  justify-content: flex-end; 
  width: 100%; 
}

.user-profile-user-posts {
  grid-gap: 10px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  max-height: 450px; 
  overflow-y: auto; 
  border-radius: 50px;
  padding: 10px;
  -ms-overflow-style: none; /* 인터넷 익스플로러에서 스크롤바 안보이게 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 안보이게 */
}

.user-profile-user-posts::-webkit-scrollbar {
  display: none !important; /* 크롬, 사파리 등에서 스크롤바 안보이게 */
}


.user-profile-self-introduction-title {
  margin-top: 90px; 
  padding: 10px;
  border-bottom: none; 
  position: relative;
}

.user-profile-self-introduction {
  width: 100%;
  height: 50em;
  max-height: 300px;
  font-size: 40px;
  border: 5px solid black;
  resize: none;
  border-radius: 8px;
  position: relative;
}

.user-profile-post-count {
  display: flex;
  justify-content: center;
  align-items: center;  
  text-align: center;
  margin: 10px;
  padding: 20px; 
  height: 120px; 
  border-radius: 8px;
  line-height: right;
  font-size: 12px;
  color: black;
}

.user-profile-icon-number-container {
  position: relative;
  width: 70px; 
  height: 70px;
  display: absolute;
  margin-right: 20px;
  margin-top: 150px;
}

.user-profile-post-icon,.profile-likes-icon {
  width: 70px; 
  height: 70px; 
}

.user-self-introduction-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.user-self-introduction-textarea {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0; 
  box-sizing: border-box; 
  resize: none;
}

.user-self-introduction-character-count {
  position: absolute;
  bottom: 10px; 
  right: 10px;
  font-size: 0.8rem;
  color: #666; 
  padding: 5px;
}

.user-self-introduction-alert-message {
  color: black;
  position: absolute;
  font-size: 0.8rem;
  bottom: 0px; 
  left: 0;
  right: 0;
  text-align: center;
}

.user-self-introduction-max-reached-alert-message {
  color: red;
  position: absolute;
  font-size: 1.2rem;
  bottom: 0px; 
  left: 0;
  right: 0;
  text-align: center;
}

.user-edit-save-btn {
  position: absolute;
  width: 90px;
  height: 45px;
  top: -47px; 
  right: -3px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 20px;
}

.user-edit-save-btn:hover {
  filter: brightness(0.5);
}

.user-profile-post-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.user-profile-post-img img {
  width: 100%; 
  height: auto;
  max-height: 100%; 
  object-fit: cover;
}

.user-profile-post-number {
  position: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-grow: 1; 
  max-width: 50px;
  width: 50px;
  margin-top: 165px;
}

