.cart-card {
  min-width: 350px;
  min-height: 400px;
  display: grid;
  justify-content: center;
}

.profile-container {
  display: grid;
  grid-gap: 100px;
  max-width: 100%;
  margin: auto;
  padding: 0 0 20px 10px;
}

.profile-header {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  align-items: center;
  margin-top: -70px;
  margin-bottom: 50px;
  gap: 10px;
  position: relative;
}

.profile-left-section {
  display: flex;
}

.profile-right-section {
  height: 100%;
  weight: 100px;
  display: grid;
  align-items: center;
}

.my-profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.my-profile-picture-hover:hover {
  filter: brightness(0.7);
  transition: 0.5s;
  border: 1px solid black;
}

.my-profile-swal-button {
  background-color: rgb(239, 104, 109) !important;
  outline: none !important;
}

.my-profile-swal-button:focus {
  box-shadow: none !important;
}

.profile-id,
.profile-email,
.profile-self-introduction,
.profile-stats,
.profile-action-button {
  text-align: center;
}

.profile-id {
  margin-top: 10px;
  font-size: 30px;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transform: scale(1);
  margin: auto;
  max-width: 480px;
  height: 100%;
  padding: 0.01%;
  border: 2px solid black;
  box-sizing: border-box;
}

.profile-stats > div {
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.profile-actions {
  flex-direction: column;
  align-items: center;
}

.profile-action-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-action-div:hover {
  font-weight: bold;
  transition: 0.7s;
  transform: scale(1.3);
}

.profile-action-button,
.profile-action-button-post {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 20px;
  display: flex;
}

.profile-action-button:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
}

.profile-action-button-post {
  margin-left: 20px;
}

.profile-self-introduction-title {
  margin-top: 90px;
  padding: 10px;
  border-bottom: none;
  position: relative;
}

.profile-self-introduction {
  width: 100%;
  height: 50em;
  max-height: 300px;
  font-size: 40px;
  border: 5px solid black;
  resize: none;
  border-radius: 8px;
  position: relative;
}

.profile-post-count {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  line-height: right;
  font-size: 12px;
  color: black;
}

.profile-post-img:hover {
  filter: brightness(0.7);
  pointer: cursor;
}

.profile-icon-number-container {
  position: relative;
  width: 70px;
  height: 70px;
  display: absolute;
  margin-right: 20px;
  margin-top: 80px;
}

.profile-post-icon {
  width: 70px;
  height: 70px;
}

.self-introduction-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.self-introduction-textarea {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  resize: none;
}

.self-introduction-character-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
  color: #666;
  padding: 5px;
}

.self-introduction-alert-message {
  color: black;
  position: absolute;
  font-size: 0.8rem;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.self-introduction-max-reached-alert-message {
  color: red;
  position: absolute;
  font-size: 1.2rem;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.edit-save-btn {
  position: absolute;
  width: 90px;
  height: 45px;
  top: -47px;
  right: -3px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 20px;
}

.edit-save-btn:hover {
  filter: brightness(0.5);
}

.profile-post-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.profile-post-img img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.profile-post-number {
  position: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 50px;
  width: 50px;
  margin-top: 95px;
}

.profile-edited-plan {
  border: 2px solid gray;
  margin-top: -8%;
  grid-gap: 10px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 450px;
  overflow-y: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile-edited-plan::-webkit-scrollbar {
  display: none !important;
}

.profile-schedule-details {
  margin-left: 30px;
}

.profile-plan-title,
.profile-schedule-details {
  text-align: center;
  color: rgba(36, 39, 42, 0.5);
  --color-start: rgba(36, 39, 42, 0.5); 
  --color-end: black; 
  font-family: "GmarketSans700";
  font-size: 30px;
  color: transparent; 
  background: var(--color-start);
  -webkit-background-clip: text;
  background-clip: text;
  transition: background 0.5s ease; 
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.profile-plan-div:hover .profile-plan-title,
.profile-list-card:hover .profile-schedule-details {
  --color-start: rgba(36, 39, 42, 0.2); 
  --color-end: black; 
  background: linear-gradient(
    to right,
    var(--color-start) 25%, 
    var(--color-end) 50%, 
    var(--color-end) 75%, 
    var(--color-start) 100% 
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-shift 2s infinite linear;
}

.profile-plan-day,
.profile-plan-day-num {
  text-align: center;
  font-family: "GmarketSans500";
  font-size: 17px;
}

.profile-plan-day-num {
  color: #4342fd;
}

.profile-edited-cart {
  margin-top: -4%;
  grid-gap: 20px;
  grid-column: 1/3;
  display: grid;
  padding-bottom: 50px;
  grid-template-columns: repeat(3, 1fr);
  max-height: 120%;
  max-width: 100%;
  min-height: 120%;
  min-width: 100%;
  overflow-y: auto;
  /* padding: 10px; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile-edited-cart::-webkit-scrollbar {
  display: none !important; /* 크롬, 사파리 등에서 스크롤바 안보이게 */
}

.profile-cart-text-style {
  font-size: 18px;
  font-weight: medium;
  line-height: 20px;
  color: #53a7ce;
  margin-bottom: 4px;
}

.profile-cart-text-style-second {
  margin-bottom: 4px;
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  font-weight: bold;
  line-height: 30px;
  height: 59px;
  overflow: hidden;
}

.proflie-cart-images {
  max-width: 350;
  max-height: 300px;
  min-width: 350px;
  min-height: 300px;
}

.profile-cart-container {
  width: 100%;
  height: 100%;
}

.profile-cart-text-container {
  padding: 30px;
  height: 50px;
}

.profile-common-posts {
  border: 2px solid gray;
  border-radius: 8px;
  margin-top: -8%;
  grid-gap: 10px;
  grid-column: 1/3;
  height: 600px;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.profile-common-posts::-webkit-scrollbar {
  display: none !important;
}

.profile-schedule-posts {
  border: 2px solid gray;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  max-height: 600px;
  overflow-y: auto;
  width: 100%;
  justify-content: center;
  margin-top: -8%;
  grid-column: 1/3;
  height: 600px;
  padding-top: 20px;
}

.profile-schedule-posts::-webkit-scrollbar {
  display: none !important;
}

.profile-list-card {
  cursor: pointer;
  border: 0.5px solid #dddddd;
  margin: 20px auto;
  padding: 20px;
  color: gray;
  width: 95%;
  box-sizing: border-box;
  margin-top: 0px;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.profile-list-card:hover {
  transform: scale(1.025);
  border: 2px solid black;
  color: black;
}

.profile-schedule-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
}

.profile-schedule-image {
  /* margin: 0px 10px 20px 10px; */
  /* border-radius: 50%;/ */
  width: 120px;
  height: 120px;
}

.profile-plan-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin-top: -8%;
  border: 2px solid gray;
  border-radius: 8px;
  height: 600px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  grid-column: 1/3;
}

.profile-plan-posts::-webkit-scrollbar {
  display: none !important;
}

.profile-plan-div {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
  height: 150px;
  width: 300px;
}

.profile-plan-div:hover {
  transform: scale(1.04);
  box-shadow: 4px 2px 3px;
}

.profile-id:hover,
.profile-id:active {
  text-decoration: underline;
  cursor: pointer;
}
