.profile-container {
  display: grid;
  grid-gap: 100px;
  max-width: 100%;
  margin: auto;
  padding: 0 0 20px 10px;
}

.profile-header {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  align-items: center;
  margin-top: -70px;
  margin-bottom: 50px;
  gap: 10px;
  position: relative;
}

.profile-left-section {
  display: flex;
}

.profile-right-section {
  height: 100%;
  weight: 100px;
  display: grid;
  align-items: center;
}

.my-profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.my-profile-picture-hover:hover {
  filter: brightness(0.7);
  transition: 0.5s;
  border: 1px solid black;
}

.profile-id,
.profile-email,
.profile-self-introduction,
.profile-stats,
.profile-action-button {
  text-align: center;
}

.profile-id {
  margin-top: 10px;
  font-size: 30px;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  transform: scale(1);
  margin: auto;
  max-width: 480px;
  height: 100%;
  padding: 0.01%;
  border: 2px solid black;
  box-sizing: border-box;
}

.profile-stats > div {
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.profile-actions {
  flex-direction: column;
  align-items: center;
}

.profile-action-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-action-div:hover {
  color: black;
  transition: 0.7s;
  transform: scale(1.3);
}

.profile-action-button,
.profile-action-button-post {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 20px;
  display: flex;
}

.profile-action-button:hover {
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
}

.profile-action-button-post {
  margin-left: 20px;
}

.profile-self-introduction-title {
  margin-top: 90px;
  padding: 10px;
  border-bottom: none;
  position: relative;
}

.profile-self-introduction {
  width: 100%;
  height: 50em;
  max-height: 300px;
  font-size: 40px;
  border: 5px solid black;
  resize: none;
  border-radius: 8px;
  position: relative;
}

.profile-post-count {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  line-height: right;
  font-size: 12px;
  color: black;
}

.profile-post-img:hover {
  filter: brightness(0.7);
  pointer: cursor;
}

.profile-icon-number-container {
  position: relative;
  width: 70px;
  height: 70px;
  display: absolute;
  margin-right: 20px;
  margin-top: 80px;
}

.profile-post-icon {
  width: 70px;
  height: 70px;
}

.self-introduction-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.self-introduction-textarea {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  resize: none;
}

.self-introduction-character-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
  color: #666;
  padding: 5px;
}

.self-introduction-alert-message {
  color: black;
  position: absolute;
  font-size: 0.8rem;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.self-introduction-max-reached-alert-message {
  color: red;
  position: absolute;
  font-size: 1.2rem;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.edit-save-btn {
  position: absolute;
  width: 90px;
  height: 45px;
  top: -47px;
  right: -3px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 20px;
}

.edit-save-btn:hover {
  filter: brightness(0.5);
}

.profile-post-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.profile-post-img img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.profile-post-number {
  position: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 50px;
  width: 50px;
  margin-top: 95px;
}

.profile-plan-div {
  border: 2px solid gray;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.profile-edited-plan {
  border: 2px solid gray;
  margin-top: -8%;
  grid-gap: 10px;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 450px;
  overflow-y: auto;
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile-edited-plan::-webkit-scrollbar {
  display: none !important;
}

.profile-plan-id,
.profile-plan-pno,
.profile-plan-day,
.profile-plan-title {
  font-family: "GmarketSans700";
  font-size: 20px;
}

.profile-edited-cart {
  margin-top: -4%;
  margin-left: -4%;
  grid-gap: 20px;
  grid-column: 1/3;
  display: grid;
  padding-bottom: 50px;
  grid-template-columns: repeat(3, 1fr);
  max-height: 120%;
  max-width: 100%;
  min-height: 120%;
  min-width: 100%;
  overflow-y: auto;
  /* padding: 10px; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile-edited-cart::-webkit-scrollbar {
  display: none !important; /* 크롬, 사파리 등에서 스크롤바 안보이게 */
}

.profile-cart-text-style {
  font-size: 18px;
  font-weight: medium;
  line-height: 20px;
  color: #53a7ce;
  margin-bottom: 4px;
}

.profile-cart-text-style-second {
  margin-bottom: 4px;
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  font-weight: bold;
  line-height: 30px;
  height: 59px;
  overflow: hidden;
}

.proflie-cart-images {
  /* inset: 0px;
  object-fit: cover; */
  max-width: 350;
  max-height: 300px;
  min-width: 350px;
  min-height: 300px;
}

.profile-cart-container {
  width: 100%;
  height: 100%;
}

.profile-cart-text-container {
  padding: 30px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%; */
  height: 50px;
}

.profile-cart-posts {
  border: 2px solid gray;
  border-radius: 8px;
  margin-top: -8%;
  grid-gap: 10px;
  grid-column: 1/3;
  max-height: 600px;
  padding: 100px;
}

.profile-cart-posts::-webkit-scrollbar {
  display: none !important;
}

.aaadddaaaddd {
  min-width: 350px;
  min-height: 400px;
  display: grid;
  justify-content: center;
}
