.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.header-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.header-button:hover {
  transform: scale(1.1);
  brightness: 0.5;
  transition: transform 0.5s ease-in-out;
}

.header-button-message {
  font-family: "GmarketSans300";
  font-size: 14px;
}

/* search-bar */
.header-search-input {
  font-family: "GmarketSans500";
  padding: 5px 10px;
  height: 50px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: #ddd;
  color: white;
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: -10px;
}

.header-search-bar {
  font-family: "GmarketSans500";
  right: 20%;
  display: flex;
  align-items: center;
  width: 47%;
  position: relative;
}

.header-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-search-dropdown {
  padding: 5px 10px;
  height: 50px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: black;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  color: white;
}

.header-logo {
  /* width: 100px; */
  height: 60px;
  display: block;
  margin-left: 10px;
  color: #abcdef;
}

.header-button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: -8px;
  padding: 0 20px;
}

.recent-searches-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  z-index: 10;
}

.recent-search-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recent-search-item:hover {
  background-color: rgba(211, 211, 211, 0.9);
}

.recent-search-item:last-child {
  border-bottom: none;
}

.recent-search-combo,
.recent-search-keyword,
.recent-search-date,
.recent-search-delete {
  font-family: "GmarketSans300";
}

.recent-search-delete:hover {
  font-family: "GmarketSans700";
  font-size: 14px;
}

.recent-search-combo {
  margin-left: 1%;
}

.recent-search-keyword {
  font-size: 20px;
  flex: 1;
  margin-left: 6%;
  padding: 0;
}

.recent-search-keyword-container {
  flex: 1;
}

.recent-search-date {
  margin-right: 6%;
}

.recent-search-all-delete {
  font-family: "GmarketSans500";
  font-size: 21px;
  margin-left: 46.5%;
}

.recent-search-all-delete:hover,
.recent-search-keyword:hover {
  cursor: pointer;
  font-family: "GmarketSans700";
}
