  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .header-action-button {
    background-color: #abcdef;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  .header-action-button:hover {
    background-color: blue;
  }

  .header-search-input {
    padding: 5px 10px;
    height: 50px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #ddd;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    flex-grow: 1;
    margin-left: -10px;
  }

  .header-search-bar {
    margin-left: -400px;
    display: flex;
    align-items: center;
    width: 50%;
  }

  .header-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-search-dropdown{
    padding: 5px 10px;
    height: 50px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: black;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
    color: white;
  }
  