/* ScheduleCard.css */
.Schedule {
  max-height: 1000px;
  max-width: 1000px;
  overflow-y: auto;
}

.Schedule-profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Schedule-profile-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.Schedule-header {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.day-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.details {
  max-height: 370px;
  overflow-y: auto;
  background-color: lightblue;
}
.day-schedule {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.day-header h2 {
  margin: 0;
}
.schedule-card {
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #beefff;
}

.schedule-card button {
  border: 2px solid #dddddd;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
}
.schedule-card:hover {
  transform: scale(1.025);
}

.schedule-card.expanded {
  background-color: #beefff;
  height: 200px;
}

.schedule-number {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
  color: black;
}

.schedule-card h3 {
  margin-bottom: 8px;
  color: black;
}

.Schedule h2 {
  margin-left: 4px;
  font-size: 40px;
  font-weight: bold;
}
.schedule-card p {
  color: black;
  display: flex;
  justify-content: space-between;
}
.MapArea h2 {
  margin-left: 4px;
  font-size: 40px;
  font-weight: bold;
}

.cart {
  max-height: 500px;
  overflow-y: auto;
  height: 100%;
}
.cart h2 {
  background-color: #f5f5f5;
  margin-left: 4px;
  font-size: 40px;
  font-weight: bold;
}

.details {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid black;
}

.details ul {
  overflow-y: auto;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px;
  margin: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details li {
  margin-bottom: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 10px;
  margin: 6px;
  background-color: white;
  max-height: 3em; /* 원하는 높이로 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 숨기기 */
  margin-bottom: 10px;
}
.details li:hover {
  transform: scale(1.025);
}
.details input {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
}

.details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.details button:hover {
  transform: scale(1.025);
}
.comment {
  margin: 10px;
  display: flex;
  align-items: center;
}
.comment button {
  padding: 10px 15px;
  background-color: gray;
  color: white;
}
.details ul {
  background-color: #dcdcdc;
}
.MapArea h2 {
  background-color: #f5f5f5;
}

.Schedule-profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
