.div-container {
  height: 817px;
}

.div-left {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #ffe4ed;
}

.div-right {
  float: right;
  width: 65%;
  height: 100%;
  background-color: #f6f3df;
}

.toggle-right-up {
  position: absolute;
  right: 15px;
  top: 115px;
  z-index: 50;
}

.toggle-right-up-X {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  z-index: 50;
  background-color: #b29393;
}

.toggle-right-down-X {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  z-index: 50;
  background-color: #b29393;
}

.toggle-right-search-div1 {
  width: 100%;
  height: 10%;
}
.toggle-right-search-div2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
}
.toggle-right-search-div3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
  overflow: auto;
}

.toggle-right-basket-div1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.toggle-right-basket-div2 {
  width: 100%;
  height: 10%;
}

.toggle-right-down {
  position: absolute;
  right: 15px;
  bottom: 85px;
  z-index: 50;
}

.circle-btn {
  height: 60px;
  width: 60px;
  border-radius: 100px 100px 100px 100px;
  padding: 0px;
}

.toggle-div {
  opacity: 0.9;
  border-radius: 15px 15px 15px 15px;
  border: 5px solid #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.toggle-search-input {
  width: 85%;
  height: 40px;
}

.toggle-search-button {
  width: 7%;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.div-left-title {
  float: top;
  width: 100%;
  height: 8%;
  background-color: #f5f3f4;
}

.div-left-writer {
  float: top;
  width: 100%;
  height: 3%;
  background-color: #e6e8e6;
}

.div-plan-list {
  width: 100%;
  height: 82%;
  background-color: #ffffff;
  overflow: auto;
}

.div-plan-button {
  width: 100%;
  height: 7%;
  background-color: #999999;
  overflow: auto;
}

/* absolute right-4 top-4 btn btn-sm btn-primary */
