.div-container {
  height: 805px;
}

.div-left {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #ffe4ed;
}

.div-right {
  float: right;
  width: 65%;
  height: 100%;
  background-color: #f6f3df;
}

.toggle-right-up {
  position: absolute;
  right: 15px;
  top: 100px;
  z-index: 50;
}

.toggle-right-down {
  position: absolute;
  right: 15px;
  bottom: 85px;
  z-index: 50;
}

.toggle-div {
  opacity: 0.6;
  border-radius: 15px 15px 15px 15px;
  border: 5px solid #ffffff;
}

.toggle-search {
  width: 90%;
}

.div-left-title {
  float: top;
  width: 100%;
  height: 8%;
  background-color: #e151e6;
}

.div-left-writer {
  float: top;
  width: 100%;
  height: 3%;
  background-color: #eF9BCE3;
}

.div-plan-list {
  width: 100%;
  height: 85%;
  background-color: #ffffff;
  overflow: auto;
}

/* absolute right-4 top-4 btn btn-sm btn-primary */
