.div-container {
  width: 1920px;
  height: 807px;
}

.div-left {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #ffe4ed;
}

.div-right {
  float: right;
  width: 65%;
  height: 100%;
  background-color: #f6f3df;
}

.div-left-title {
  float: top;
  width: 100%;
  height: 8%;
  background-color: #f5f3f4;
  display: flex; /* Flexbox를 사용하여 수직 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  font-size: 24px; /* 글자 크기를 10px로 설정 */
  padding: 20px;
}

.div-left-writer {
  float: top;
  width: 100%;
  height: 3%;
  background-color: #e6e8e6;
}

.div-plan-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 77%;
  background-color: #ffffff;
  overflow: auto;
}

.div-plan-trash {
  width: 100%;
  height: 5%;
  background-color: #eeeeee;
  background-image: url("../../../public/dummyimages/garbageIcon.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.div-plan-button {
  width: 100%;
  height: 7%;
  background-color: #999999;
}

.titleText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 10px;
  margin: 0;
}

.toggle-right-up {
  position: absolute;
  right: 15px;
  top: 110px;
  z-index: 50;
}

.toggle-right-up-X {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  z-index: 50;
  background-color: #b29393;
}

.toggle-right-down-X {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  z-index: 50;
  background-color: #b29393;
}

.toggle-right-search-div1 {
  width: 100%;
  height: 10%;
}
.toggle-right-search-div2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15%;
}
.toggle-right-search-div3 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 75%;
  padding-left: 13px;
  overflow: auto;
}

.toggle-right-basket-div1 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 90%;
  overflow: auto;
  padding-left: 13px;
}

.toggle-right-basket-div2 {
  width: 100%;
  height: 10%;
}

.toggle-right-down {
  position: absolute;
  right: 15px;
  bottom: 70px;
  z-index: 50;
}

.circle-btn {
  height: 60px;
  width: 60px;
  border-radius: 100px 100px 100px 100px;
  padding: 0px;
}

.toggle-div {
  opacity: 0.9;
  border-radius: 15px 15px 15px 15px;
  border: 5px solid #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.toggle-search-input {
  width: 85%;
  height: 40px;
}

.toggle-search-button {
  width: 7%;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.day-plan-list {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 630px;
  border: 2px dashed #d3d3d3;
  border-radius: 5px;
  min-height: 130px;
}

.day-plan-title {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-bottom: 2px dashed #d3d3d3;
  font-size: 20px;
}

.post-modal {
  max-width: 850px;
  min-width: 850px;
  max-height: 720px;
  min-height: 720px;
}

.post-modal-div {
  max-width: 800px;
  min-width: 800px;
  max-height: 550px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.post-modal-day-div {
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;

  width: 750px;
  /* min-height: 100px; */
  background-color: #bde0fe;
}
.post-modal-top {
  max-width: 800px;
  min-width: 800px;
  max-height: 50px;
  min-height: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.post-modal-bottom {
  margin-top: 20px;
  max-width: 800px;
  min-width: 800px;
  max-height: 50px;
  min-height: 50px;
}

.post-modal-day-title {
  background-color: #edf6f9;
  padding: 5px;
  height: 40px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
}

.post-modal-day-title-text {
  font-size: 18px;
  font-weight: bold;
}

.post-modal-day-placeName {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
